

.kRow{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    margin-left: 80px;
    
    
    
    
}





.kcard{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    width:500px;
    min-width: 100px;
    margin-right: 50px;

}


.kcard img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard :hover{    
    scale: 1;
    
    z-index: 2;

}

.kcard1{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    max-width:800px;
    min-width: 300px;
    

}
.kcard1 img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard1 :hover{    
    scale: 1;
    margin-right:200px;
    z-index: 2;

}


.kcard2{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    max-width:600px;
    min-width: 300px;
    margin-right: 30px;

}
.kcard2 img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard2 :hover{    
    scale: 1;
    margin-right:200px;
    z-index: 2;

}

.kcard3{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    max-width:600px;
    min-width: 300px;
    margin-right: 30px;

}
.kcard3 img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard3 :hover{    
    scale: 1;
    margin-right:200px;
    z-index: 2;

}



.kcard4{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    max-width:1050px;
    min-width: 300px;
    margin-left: 20px;
    

}
.kcard4 img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard4 :hover{    
    scale: 1; 
    z-index: 2;

}


.kcard5{
    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #2d9292;
    border-radius: 15px;
    height:fit-content;

    max-width:1100px;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 250px;
    margin-right: 150px;
    

}
.kcard5 img{    
    width:100%;    
    height:auto;

    border: solid 6px 5px 2px 3px #000066; 
    box-shadow: 0px 5px 2px 3px #eac9aa;
    border-radius: 15px;
    
}
.kcard5 :hover{    
    scale: 1;
    
    z-index: 2;

}


/**********************************************************************************/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 580px) {
    .kRow{
        margin-left: 0px;
        margin: auto;
    }
    .kcard5,.kcard4,.kcard3,.kcard2,.kcard {
        width: 420px;
    }
    
    .kcard4{
        margin-left: 0px;
    }

}

@media only screen and (min-width: 620px) {
    .kcard5 :hover  {
        scale: 1.0625;        
    }  

    .kcard4:hover,.kcard3:hover,.kcard2:hover ,.kcard1:hover{
        scale: 1.375;        
    }  

    .kcard:hover{
        scale: 1.4;        
    }  


            
        


    
    



}
