*{
    box-sizing: border-box;
 }  


 /***-----------{  Knav  }--------------*/
.knav{
    
   max-width: 350px; 
   width: 200px; 
        
}


/* The sidebar menu */
.sidebar {
    height: fit-content; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */

    top: 80px; /* Margin from the top*/
    left: 0;
    background-color:#e2ebf8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-bottom: 50px;
    transition: 0.5s;  /*0.5 second transition effect to slide in the sidebar */

    border-right: solid 1px #cc9966;
    border-top: solid 1px #cc9966;
    border-radius: 4rem 4rem 4rem 4rem;
    border-width: 3px 8px 9px 0px;
    box-shadow: 0px 5px 2px 3px #f6dda7;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#ae7854;
    display: block;
    /*transition: 0.3s;*/
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    box-shadow: 0px 5px 2px 3px #f6dda7;
    color: #85adad;
    padding:5px;
    border:  solid 3px #ae7854;
    border-radius: 10px;
    width: 220px; 
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    color: #7b95b1;
    border: none;
    background-color: transparent;
    
    
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 3%;
    padding-top: 5%;
    text-decoration: none;
    font-size: 30px
  }

  .closebtn:hover {
    cursor: pointer;
    color: #cc9966;
    border: none;
    padding-bottom: 15px;
}

  /* The button used to open the sidebar */
  .openbtn {

    

    position: fixed;
    z-index: inherit;
    
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    color: #85adad;
    margin-left: 5px;
    margin-top: 0px;
    border: none;
    text-align: left;
  }
  

  .openbtn:hover {
    color:#cc9966;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  @media screen and (max-width: 780px){

  }
 
 
  @media screen and (max-width: 1280px){
 
  }

